<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885113465548-n5oukv4p82votgdgu21u9en71ddink2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885113465548-n5oukv4p82votgdgu21u9en71ddink2c</string>
	<key>API_KEY</key>
	<string>AIzaSyAraX3Qzc92I72exwkF9kaWSZu-_qy8dOA</string>
	<key>GCM_SENDER_ID</key>
	<string>885113465548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iHome</string>
	<key>PROJECT_ID</key>
	<string>i-home-a1f3f</string>
	<key>STORAGE_BUCKET</key>
	<string>i-home-a1f3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885113465548:ios:4262598a956ecf85757069</string>
</dict>
</plist>